<launch>

    <!-- args-->
    <arg name="enable_cmd" default="rosservice call /cameraF_down/enable 'data: true'"/>
    <arg name="disable_cmd" default="rosservice call /cameraF_down/enable 'data: false'"/>
    <arg name="restart_delay" default="10.0"/>
    <arg name="cam_topic" default="/usb_cam/image_raw"/>
    <arg name="open_reconfigure" default="true"/>

    <!-- lingao base_driver -->
    <node pkg="cam_mon" name="cam_mon_node" type="cam_mon_node" output="screen" clear_params="true">
        <param name="enable_cmd" value="$(arg enable_cmd)" />
        <param name="disable_cmd" value="$(arg disable_cmd)" />
        <param name="restart_delay" value="$(arg restart_delay)" />

        <remap from="/usb_cam/image_raw" to="$(arg cam_topic)"/>
    </node>

    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" output="screen" if="$(arg open_reconfigure)"/>

</launch>